# Dependency
node_modules/
dist/

# AI Models (Too large for GitHub)
model/*.gguf
model/

# WhatsApp Sessions (Private Data)
session_fresh_lama/
auth_info_baileys/
.wwebjs_auth/
.wwebjs_cache/

# Logs & OS Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
